.DS_Store
nupkg/
secrets*

# Build results
artifacts/

# Visual Studio Code
.vscode

# Rider
.idea

# Visual Studio
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
src/Robots.Grasshopper/Robots.Grasshopper.csproj
src/Robots.Grasshopper/Robots.Grasshopper.csproj
src/Robots.Grasshopper/Properties/launchSettings.json
src/Robots.Grasshopper/Robots.Grasshopper.csproj
src/Robots.Grasshopper/Robots.Grasshopper.csproj
*.csproj
